language: ruby
rvm:
- 2.3.0
env:
- APIKEY="1eb1b16b1f413a5e80312726a6861fc0"
script:
- bundle exec rake db:migrate --trace
- RAILS_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake db:test:prepare
- bundle exec rspec -fd spec/
deploy:
  provider: heroku
  api_key:
    secure: H6eopvmrI3CCCF4Yo15dv9tsmrqbPBto0GC4n30VzjC7Mir7R65H1C9gooig132v0zHW9KKSQLDUfJg37TgLr0UfA1NygA+DkDoZOUkELgXf7tegO38n+Rcd+rpvKjmmI7cToB7iHi1HibjrHsBYxR2sQtAQPMZDH13+UlE41Yf5RGmyTYxUW3ME8rx/TlyAKi04WudbIJRlFBZ0KtASkoEkKC/GHVx27bwDvAWjroy4FOnWWez2pkXQXiZ1BShATYoAKuHXVJpAT8MPPGTkHUvcn8s1JzCPnGKTsUXeENkLtQ9QhVdBQtNbQR/x/aB96p8ZMXGn0Htl3aQeS3l7JT8sE4c/UtSHj/ifWZeScXCC3tk4LS/ibaiq+JOB7rHF8KAhQC133kMnBjJksN3YUIioIBYA+3yuzuDRh2WwfPZGcTK8uGRqrTHvW6dRtXcatE2ZSn7oHx7UJj1xo/YTxJUbVhjk/7mHSomIIteLP6KEMTOywjznJcRTeG9Fon/HweB0ktIbegTcYjPTmtI/a1O1zEW4dRoYzTb1XtbARkjRCXQMkPimKOoqt58byt1x6q4+mwLVyik6VQiJZNyhyjEdUmxaINsWvGU0Akw2tbXh07Ff9EK424nf0qgUdlGVQ8Uvdn2uVLQGip5Ud2nsGSHLNRRD5gu7PnYf2IlWcHU=
  app: arees-ratebeer
  on:
    repo: areee/TheMightyWadror
